@model small_online_store.Models.Item

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WomenClothing</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
